akshare==1.18.64
attr==0.3.2
backports.statistics==0.1.0
brotli==1.2.0
brotlicffi==1.2.0.1
chardet==7.4.3
ConfigParser==7.2.0
cryptography==49.0.0
docutils==0.23
filelock==3.29.5
fredapi==0.5.2
h2==4.3.0
HTMLParser==0.0.2
ipython==9.15.0
ipywidgets==8.1.8
jnius==1.1.0
js==1.0
keyring==25.7.0
numpy==2.5.1
pandas==3.0.3
pdfplumber==0.11.10
pyodide==0.0.2
pyOpenSSL==26.3.0
redis==8.0.1
reportlab==5.0.0
simplejson==4.1.1
Sphinx==9.1.0
thread==2.0.6
typing_extensions==4.16.0
xmlrpclib==1.0.1
yfinance==1.5.1
